.error{
  margin: -4px;
  border: 4px solid var(--a-border-danger) !important;
}

.fadingLineSeparator {
  margin-left: 10px;
  margin-right: 10px;
  border-left-width: 1px;
  border-left-style: solid;
  border-image: linear-gradient(
    to bottom,
    var(--a-bg-subtle) 0%,
    var(--a-border-strong) 5%,
    var(--a-border-strong) 95%,
    var(--a-bg-subtle) 100%
  ) 1 100%;
}
