.error{
  margin: -4px;
  border: 4px solid var(--ax-border-danger) !important;
}

.fadingLineSeparator {
  margin-left: 10px;
  margin-right: 10px;
  border-left-width: 1px;
  border-left-style: solid;
  border-image: linear-gradient(
    to bottom,
    var(--ax-bg-neutral-soft) 0%,
    var(--ax-border-neutral-strong) 5%,
    var(--ax-border-neutral-strong) 95%,
    var(--ax-bg-neutral-soft) 100%
  ) 1 100%;
}
