.flashDiv {
  background: var(--ax-bg-default);
}

.flashBackground {
  animation: fadeBackground 1s;
}

@keyframes fadeBackground {
  from { background-color: var(--ax-bg-default); }
  to { background-color: var(--ax-bg-warning-moderate); }
}

