@keyframes animationOpen {
  0% {
    height: 0;
    max-height: 0;
  }
  100% {
    max-height: 150rem;
    height: 100%;
  }
}

@keyframes animationClose {
  0% {
    max-height: 150rem;
    height: 100%;
  }
  100% {
    max-height: 0;
    height: 0;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes progressBarAnimation {
  0% {background-position: 1rem 0;} to {background-position: 0 0;}
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

