.sedBox{
  transition: border-left 0.3s ease-in-out;
  &.deviation {
    border-left: 5px solid var(--ax-border-warning);
  }
  &.journalfoering {
    border-left: 5px solid var(--ax-border-info);
    &.ikkeJournalfoert, &.manuell {
      border-left-color: var(--ax-border-warning);
    }
  }
  &:hover {
    color: var(--ax-text-neutral) !important;
    background-color: var(--ax-bg-accent-moderate-hover) !important;
  }
}

.iconDiv{
  align-items: center;
  margin-left: -1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  justify-content: center;
  background-color: var(--ax-bg-neutral-soft);
  padding: 1rem;
}

.iconSpacer{
  margin-bottom: 0.35rem;
}

.attachmentButton{
  padding:0
}

.attachmentIcon{
  position: relative;
  top: 3px;
}

.myHelpText{
  & svg {
    width: 0.7em
  }
}

.deviationHelpText{
  color: var(--ax-bg-warning-strong);
  &:hover > svg {
    color: var(--ax-bg-warning-strong);
  }

  &:focus-visible > svg {
    color: var(--ax-bg-warning-strong);
  }

  &:global(.aksel-help-text__button):focus-visible {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 1px var(--ax-bg-warning-strong),
    inset 0 0 0 1px var(--ax-bg-warning-strong);
  }


  &:global(.aksel-help-text__button)[aria-expanded="true"] > svg {
    color: var(--ax-bg-warning-strong);
  }

  &[aria-expanded="true"] ~ :global(.aksel-popover) :global(.aksel-popover__content) {
    background-color: var(--ax-bg-warning-moderate);
    border-radius: var(--ax-radius-8);
  }

  &[aria-expanded="true"] ~ :global(.aksel-popover) :global(.aksel-popover__arrow) {
    background-color: var(--ax-bg-warning-moderate);
    border-color: var(--ax-border-warning);
  }

  &[aria-expanded="true"] ~ :global(.aksel-popover) {
    border-color: var(--ax-border-warning)
  }
}
