.personBox {
  min-width: 400px;
}

.personNotSelected {
  border: 3px solid var(--ax-border-danger);
}

.personSelected {
  border: 3px solid var(--ax-border-success);
}

.neutral {
  background: var(--ax-bg-default);
}

