@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.statusBoxOpen {
  animation: slideInFromTop 0.3s forwards;
}

.statusBoxClose {
  animation: slideInFromBottom 0.3s forwards;
}


