@import '../Animations/animations.module.css';

.bannerAlert {
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  border-radius: 0px !important;
  border: 0px !important;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
