@import '../../../components/Animations/animations.module.css';

.minimalModal {
  min-height: 250px;
  min-width: 600px;
}

.slideInFromLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideInFromLeft 0.3s forwards;
}
