.whiteContainer {
  background-color: var(--ax-bg-default);
}

.square {
  width: 150px;
  height: 150px;
  margin: 0 1rem;
  background: var(--ax-bg-default);
  border-radius: 5px;
  border: 2px solid var(--ax-border-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bindersIcon {
  width: 50px;
  height: 50px;
}

.dokumentIcon {
  width: 50px;
  height: 50px;
}

.opprettSakIcon {
  width: 50px;
  height: 50px;
}

.styledLink {
  cursor: pointer;
  color: var(--ax-text-neutral);
  font-weight: bold;
}

.styledLink:active {
  color: var(--ax-text-neutral);
  background-color: transparent;
}

.logoDiv {
  display: flex;
  margin-top: 3rem;
  margin-bottom: -3rem;
  justify-content: center;
}

