.radioPanel{
  flex: 1;
  background-color: var(--ax-bg-default);
  width: 100%;
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-4);
  padding-inline: var(--ax-space-8);
  align-items: center;
  &:focus-within::after {
    inset: 0;
  }
}

.radioPanel:has(input[type=radio]:checked){
  background-color: var(--ax-bg-accent-moderate-hover);
  border-color: var(--ax-bg-accent-moderate-hover);
}

.radioPanel:hover {
  background-color: var(--ax-bg-accent-moderate-hover);
  border-color: var(--ax-bg-accent-moderate-hover);
}

.horizontalLineSeparator {
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
  background:
    linear-gradient(90deg,
    var(--ax-bg-neutral-soft) 0%,
    var(--ax-border-neutral-strong) 5%,
    var(--ax-border-neutral-strong) 95%,
    var(--ax-bg-neutral-soft) 100%
  );
  width: 100%;
}

.definitionDescription{
  width: 60%;
  padding-bottom: 0.35rem;
  padding-top: 0.35rem;
  margin-bottom: 0;
  margin-inline-start: 0;
}

.definitionTerm{
  width: 40%;
  padding-bottom: 0.35rem;
  padding-top: 0.35rem;
  overflow: hidden;
  text-overflow: ellipsis;
  .typo-element {
    margin-left: 0.5rem;
  }
  font-weight: bold;
}

.definitionList{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .odd {
    background-color: var(--ax-bg-neutral-soft);
  }
}

.repeatableBox{
  &.new {
    background-color: rgba(236, 243, 153, 0.5);
  };
  &.error {
    background-color: rgba(255, 0, 0, 0.2);
  };
  &.original {
    background-color: var(--ax-accent-100);
  };
  &.errorBorder {
    border: 1px solid var(--ax-border-danger);
  }
  &:hover:not(.new):not(.error) {
    background-color: var(--ax-neutral-100);
  }
  &:not(:hover) .controlButtons {
    visibility: hidden;
  }
}
