.radioPanel{
  flex: 1;
  background-color: var(--a-surface-default);
  width: 100%;
  :global(.navds-radio__label) {
    border-radius: 4px;
    width: 100%;
    padding: 0.8rem 0.5rem;
  }
}

.radioPanel:has(input[type=radio]:checked){
  background-color: var(--a-surface-action-subtle-hover);
  border-color: var(--a-surface-action-subtle-hover);
  border-radius: 4px;
}

.radioPanel:hover {
  background-color: var(--a-surface-action-subtle-hover);
  border-color: var(--a-surface-action-subtle-hover);
  border-radius: 4px;
}
