
.opprettsak {
  &__statuslinje {
    margin-top: 2em;
  }

  &__tema {
    display: flex;
    align-items: flex-end;

    &.feil {
      align-items: center !important;
    }
  }
  .arbeidsforhold-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .arbeidsforhold-desc {
      display: flex;
      flex-direction: row;
    }
  }
}


