.modalContent dt {
  width: 200px;
  float: left;
  clear: left;
  font-weight: bold;
}

.modalContent dt::after {
  content: ":";
}

.odd {
  background: lightgray;
}

.modalContent dd {
  margin-left: 200px;
}

