.c-header {
  background-color: #99c2e8;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-between;
  align-items: center;

  &__brand {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__skillelinje {
    border-left: 1px solid #02329c;
    display: flex;
    height: 30px;
  }

  &__tittel {
    color: #02329c;
    display: flex;
    font-size: 14pt;
    font-weight: bold;
    padding-left: 15px;
  }

  &__saksbehandler {

    align-items: flex-end;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    align-items: center;

    .saksbehandler__navn {
      color: #02329c;
      font-weight: bold;
      display: flex;
      margin: auto 0;
      padding: 0.3em;
    }
  }
}

.highContrast .c-header {
  &__tittel {
    color: white;
  }
  &__saksbehandler {

    .c-header__highcontrast-link {
      color: white;
    }

    .saksbehandler__navn {
      color: white;
    }
  }
}
