.imgContainer {
  position: relative;
  top: 5px;
}

.fullWidthButton {
  display: block;
  width: 100%;
}

.selectedEnhet {
  background-color: var(--ax-bg-accent-soft);
}

.actionMenuButton {
  width: 100%;
  box-shadow: inset 0 0 0 1px var(--ax-border-neutral-strong);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.actionMenuButton:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--ax-border-accent);
}

.actionMenuButton > :global(.aksel-label) {
  font-weight: normal;
}

