@import './constants';

.highContrast {

  .lenkepanel {
    background: @black !important;
    border: 2px solid @white;
    border-radius: 4px;
  }

  .panel {
    background: @black !important;
  }

  .fieldset {
    background: @black !important;
  }

  .skjemaelement__input {
    background: @black !important;
  }

  .alertstripe {
    background: @black !important;
    border-width: 2px;
  }

  .nav-veilederpanel {
    background: @black !important;

  }
  .s-border, .panel--border {
    border: 2px solid @white;
    border-radius: 4px;
  }

  hr {
    border-color: @white;
  }

  .knapp--disabled {
    background-color: @navMorkGra !important;
  }

  span, p, div, th, td, section, aside, article, header, footer, li, h1, h2, h3, h4, h5,h6, input,
  time, figcaption, select, textarea, label {
     color: @white !important;
  }

  a, .link-btn, .fake-link {
    color: @navOransje !important;
  }

  a:hover, .link-btn:hover,.fake-link:hover,
  a:active, .link-btn:active, .fake-link:active,
  a:focus, .link-btn:focus,.fake-link:focus {
    color: @orangeFocus !important;
  }

  a h1, a h2, a h3, a p, a span {
      color: @navOransje !important;
  }

  a:hover h1, a:active h1, a:focus h1, a:hover h2, a:active h2, a:focus h2,
  a:hover h3, a:active h3, a:focus h3, a:hover p, a:active p, a:focus p,
  a:hover span, a:active span, a:focus span {
      color: @navLysBla !important;
  }

  label, input, select, textarea {
    color: @white !important;
  }

   .knapp, .knapp.hoved, .knapp.btn-auth, .btn {
      border: 1px solid @white;
      color: @navOransje !important;
      background-image: none;
  }

   .knapp:focus, .knapp.hoved:focus, .knapp.btn-auth:focus, .btn:focus, .knapp:hover, .knapp.hoved:hover, .knapp.btn-auth:hover, .btn:hover, .knapp:active, .knapp.hoved:active, .knapp.btn-auth:active, .btn:active {
      border-color: @orangeFocus;
      color: @orangeFocus !important;
      text-decoration: underline
  }

   *::placeholder {
      color: @white
  }

   .dropdown-menu {
      border: 1px solid @white
  }

   li.dropdown .caret {
      border-top: 4px solid @orangeFocus;
  }

   li.dropdown:hover .caret, li.dropdown:active .caret, li.dropdown:focus .caret {
      border-top: 4px solid @navLysBla;
  }

  .btn-small {
      background-color: transparent;
      background-image: none !important;
      border: 1px solid @white;
  }

  .btn-small:hover, .btn-small:active, .btn-small:focus {
      color: @orangeFocus;
  }

  .skjemaelement__input {
      border-width: 2px;
      border-color: @white;
  }

  .skjemaelement__input--harFeil {
      border-color: @redError;
  }

  .skjemaelement__feilmelding {
      color: @redError !important;
  }
}
